:root{
    --cima: #EEEDEC;
    --fonte: #46453d;
    --fonte2: #222;
    --fundo: #FAF9F6;
    --fundo2: #F4F4F4;
    --bege: #F1E6D3;
    --vclaro: #cbd691;
    --vclaro2: #bcd691;
    --verde: #adc178;
    --verde2: #A8D5BA;
    --verde3: #6b8329;
    --verde4: #c4dd80;
    --verde5: #5f9675;
    --azul: #A9C6D8;
    --logo: #85AA18;
}